<section class="section">
  <a name="pagecontent" id="pagecontent"></a>
  <div class="container has-padding-top has-padding-bottom">

    <div class="one-whole column collection_nav">
      <h1>{{ 'customer.reset_password.title' | t }}</h1>
      <div class="feature_divider"></div>
    </div>

    <div class="three-eighths columns medium-down--one-whole offset-by-five is-hidden-offset-mobile-only">
      <br />

      {% form 'reset_customer_password' %}
        <p class="center">
          <em>{{ 'customer.reset_password.subtext' | t: email: email }}</em>
        </p>

        {{ form.errors | default_errors }}

        <div id="password">
          <label for="password">{{ 'customer.reset_password.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="customer_password" class="password" size="16" />
        </div>

        <div id="password_confirm">
          <label for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
          <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="password" size="16" />
        </div>

        <p>
          <input class="global-button global-button--primary" type="submit" value="{{ 'customer.reset_password.submit' | t }}" />
        </p>
      {% endform %}
    </div>
  </div>
</section>
