{% capture content %}
<!DOCTYPE html>
<html lang="{{ shop.locale }}">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on">
  <meta name="robots" content="index,follow">

  <!-- Mobile Specific Metas -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.shop_bg_color }}">

  <title>{{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <!-- Preconnect Domains -->
  <link rel="preconnect" href="https://fonts.shopifycdn.com" />
  <link rel="preconnect" href="https://cdn.shopify.com" />
  <link rel="preconnect" href="https://v.shopify.com" />
  <link rel="preconnect" href="https://cdn.shopifycloud.com" />
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

  <!-- fallback for browsers that don't support preconnect -->
  <link rel="dns-prefetch" href="https://fonts.shopifycdn.com" />
  <link rel="dns-prefetch" href="https://cdn.shopify.com" />
  <link rel="dns-prefetch" href="https://v.shopify.com" />
  <link rel="dns-prefetch" href="https://cdn.shopifycloud.com" />
  <link rel="dns-prefetch" href="https://monorail-edge.shopifysvc.com">

   <!-- Preload Assets -->
  <link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style">

  <!-- Stylesheets for Turbo -->
  {{ 'styles.css' | asset_url | stylesheet_tag }}

  {% comment %}Inject theme-object begin{% endcomment %}
  <script>
    window.Theme = window.Theme || {};
    window.Theme.version = '7.0.0';
    window.Theme.name = 'Turbo';
  </script>
  {% comment %}Inject theme-object end{% endcomment %}


  <script>
    {% render 'js-variables' %}
  </script>

  <script src="{{ 'jquery.min.js' | asset_url }}" defer></script>

  {% if settings.show_multiple_currencies or shop.enabled_currencies.size > 1 %}
    <script src="{{ 'currencies.js' | asset_url }}" defer></script>
  {% endif %}

  <script src="{{ 'vendors.js' | asset_url }}" defer></script>
  <script src="{{ 'sections.js' | asset_url }}" defer></script>
  <script src="{{ 'utilities.js' | asset_url }}" defer></script>
  <script src="{{ 'app.js' | asset_url }}" defer></script>

  <!-- Icons -->
  {% if settings.favicon != nil %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '180x180' }}">
    <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ settings.favicon | img_url: '57x57' }}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ settings.favicon | img_url: '60x60' }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ settings.favicon | img_url: '72x72' }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ settings.favicon | img_url: '76x76' }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ settings.favicon | img_url: '114x114' }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="228x228" href="{{ settings.favicon | img_url: '228x228' }}"/>
  {% else %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
  {% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />

  {{ content_for_header }}

  {% render 'social-meta-info' %}

</head>

<body id="password-page-bg">

  {{ content_for_layout }}

</body>
</html>
{% endcapture %}
{% assign content = content | replace_first: '<!DOCTYPE', '!DOCTYPE' | split: ' <' %}
{% for html in content %}{% assign htmlblock = html | strip | prepend: ' <' %}{{htmlblock | replace: ' </', '</'}}{% endfor %}