<script
  type="application/json"
  data-section-type="product-recently-viewed-template"
  data-section-id="{{ section.id }}"
>
</script>

<div class="js-recently-viewed-product">
  <div class="product-wrap {% if settings.collection_secondary_image != blank and product.media[1] != blank %}has-secondary-media-swap{% endif %}">
      <div class="relative product_image">
        <a href="{{ product.url | within: collection }}">
          <div class="image__container">
            {%
              render 'image-element',
              image: product.featured_media.preview_image,
              alt: product.featured_image.alt,
              stretch_width: true
            %}
            {% if settings.collection_secondary_image != blank and product.media[1] != blank %}
              {% if product.media[1].media_type == 'external_video' %}
                <div class="external-video__container lazyload lazypreload secondary-media-hidden video-on-hover">
                  <div class="youtube-wrapper" data-youtube-video>
                    {{ product.media[1] | external_video_tag }}
                  </div>
                </div>
              {% elsif product.media[1].media_type == 'video' %}
                <div class="video__container lazyload lazypreload secondary-media-hidden video-on-hover" data-html5-video>
                  {{ product.media[1] | video_tag: controls: false }}
                </div>
              {% else %}
                {%
                  render 'image-element',
                  image: product.media[1].preview_image,
                  alt: alt_text,
                  additional_classes: 'secondary lazypreload secondary-media-hidden'
                %}
              {% endif %}
            {% endif %}
          </div>
          </a>
        {%
          render 'product-details',
          product: product
        %}
      </div>
      <a class="product-info__caption {% if settings.thumbnail_hover_enabled %}hidden{% endif %}" href="{{ product.url | within: collection }}">
        {%
          render 'product-info',
          product: product
        %}
      </a>
      </div>
    {%
      render 'collection-swatch',
      product: product
    %}
  </div>
</div>
<div class="js-recommended-products"></div>
