<script
  type="application/json"
  data-section-type="recently-viewed"
  data-section-id="{{ section.id }}"
>
</script>

{% assign id = section.id %}
{% assign rv_title = section.settings.rv_title %}
{% assign loop_limit = section.settings.rv_max_display | minus: 1 %}

{% comment %} Advanced {% endcomment %}
{% assign css_class = object.settings.css_class %}
{% assign custom_css = object.settings.custom_css %}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  {%
    render 'css-loop',
    css: custom_css,
    id: id
  %}
{% endstyle %}

<div
  class="
    {{ css_class }}
    js-recently-viewed
    hidden
    recently-viewed__section
  "
  data-visible-products="{{ section.settings.rv_max_display }}"
>
  <section class="section">
    <div class="container">
      <div class="one-whole column">
        {% if rv_title != blank %}
          <div class="recently-viewed-products__title">
            <h2 class="title center">{{ rv_title }}</h2>
            <div class="feature_divider"></div>
          </div>
        {% endif %}
      </div>
      <div class="one-whole column">
        {% if section.settings.rv_products_style == 'slider' %}
          <div
            class="
              rv-main
              js-rv-slider
              slider-gallery
              products-slider
              products-length-{{ section.settings.rv_per }}
            "
            data-products-per-slide="{{ section.settings.rv_per }}"
            data-products-limit="{{ section.settings.rv_max_display }}"
          >
            {% for rvProducts in (0..loop_limit) %}
              <div
                class="
                  gallery-cell
                  thumbnail
                  rv-box-element
                  rv-box-{{ rvProducts }}
                  rv-element
                "
              >
                {% comment %} Products are dynamically inserted {% endcomment %}
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div
            class="
              rv-main
              js-rv-grid
              product-list
              collection-matrix
              is-flex
              is-flex-wrap
              equal-columns--outside-trim
            "
            data-products-per-slide="{{ section.settings.rv_per }}"
            data-products-limit="{{ section.settings.rv_max_display }}"
          >
            {% for rvProducts in (0..loop_limit) %}
              <div
                class="
                  thumbnail
                  rv-box-element
                  rv-box-{{ rvProducts }}
                  rv-element
                  {%
                    render 'column-width',
                    value: section.settings.rv_per
                  %}
                  column
                  {% if settings.mobile_products_per_row == '1' %}
                    medium-down--one-whole
                  {% else %}
                    medium-down--one-half
                  {% endif %}
                "
              >
                {% comment %} Products are dynamically inserted {% endcomment %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </section>
</div>

{% schema %}
{
  "name": "Recently viewed products",
  "class": "shopify-section--recently-viewed-products",
  "settings": [
    {
      "type": "paragraph",
      "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages. [Learn more](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228)"
    },
    {
      "type": "text",
      "id": "rv_title",
      "label": "Heading",
      "default": "Recently viewed products"
    },
    {
      "type": "radio",
      "id": "rv_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "rv_max_display",
      "label": "Products limit",
      "min": 3,
      "max": 12,
      "step": 1,
      "default": 6
    },
    {
      "type": "range",
      "id": "rv_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "presets": [{
    "name": "Recently viewed products",
    "category": "Product"
  }],
  "templates": [
    "index",
    "product",
    "page"
  ]
}

{% endschema %}